<div class="p4">
  <p class="mb-0"><strong><%= perform.spectacle.title %></strong></p>
  <p class="mb-0">collected ? : <%= perform.collected %></p>
<p>formulaire :</p>
  <%= simple_form_for(perform) do |f| %>
  <%= f.input :collected %>
  <% end %>
</div>
