<div id="collecteds" class="cards">
  <% @performs.each do |perform| %>
        <div class="card no_link">
      <%= link_to perform do %>
          <%= render perform %>

      <% end %>
      <div class="check px-4 pb-4">
        <%= render "performs/check", perform: perform %></div>
      </div>
  <% end %>
</div>
