<div style="width: 66%; height: 600px; margin-top:3rem; margin-bottom:3rem;"
  data-controller="map"
  data-map-markers-value="<%= markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
