      <div class="card no_link">
        <div class="p-4">
          <%= link_to perform do %>
            <p class="mb-0"><strong>date : </strong>
              <% date = perform.start %>
              <%= date.strftime('%H:%M | %a %d %^b') if !date.nil? %>
            </p>



          <% end %>
          <div class="">
            <%= render "performs/check", perform: perform, spectacle:spectacle %>
          </div>
        </div>
      </div>
