<h1>Editing perform</h1>
<div class="card p-4">
  <%= render "form", perform: @perform %>
</div>

<br>

<div>
  <%= link_to "Show this perform", @perform %> |
  <%= link_to "Back to performs", performs_path %>
</div>
