<p style="color: green"><%= notice %></p>

<h1 class="first_title">Performs</h1>



<div id="performs" class="cards">
  <% @performs.each do |perform| %>
    <div class="card no_link">
      <%= link_to perform do %>
        <%= render perform, perform:@perform %>
      <% end %>
    </div>
  <% end %>
</div>
