<h1 class="first_title"> Samedi</h1>

<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(<%= cl_image_path @spectacle_cover %>);">
<div class="container">
  <h1>Prochaine représentation <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
  <p>Mettre ici le prochain spectacles avec un compteur "commence dans  ... minutes</p>
  <a class="btn btn-flat" href="#">Apply now</a>
  </div>

</div>

<%= render "list_per_day" %>
