<h1 class="first_title"> Votre selection (collected perform)</h1>
<%= render "map", markers:@markers %>
<div id="collecteds" class="cards">
  <% @performs.each do |perform| %>
        <%= render "performs/middle_perform", perform: perform, spectacle:@spectacle %>


  <% end %>
</div>
