<h1 class="first_title"> Votre selection (collected perform)</h1>
<div id="collecteds" class="cards">
  <% @performs.each do |perform| %>
        <div class="card no_link">

          <%= render perform %>

          <%#= link_to perform do %>

              <%#= raise %>
              <%#= small_performs are used in spectacle show, same behavior but without photo %>
              <%#= render "small_perform", perform: perform, spectacle: perform.spectacle %>

          <%# end %>

        </div>
  <% end %>
</div>
<%#= UNCOMMENT THIS TO HAVE MAP  AND WORK ON ITINERARY %>
<%# pass markers: @markers as usual in partial rendering, or put @markers directly in _map.html.erb as it original settings %>
<%#= render "pages/map", markers: @markers %>
