  <div class="cards">
    <% @spectacle.performs.each do | perform | %>
      <%= link_to perform do %>
        <div class="card p-4">
          <p class="mb-0"><strong>date : </strong>
            <%= perform.start %>
          </p>
          <p class="mb-0"><strong>Address : </strong>
              <%= perform.address %>
          </p>
              <p class=""><strong>Collected : </strong>
              <%= perform.collected %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
