<div class="img_container">
  <%#= cl_image_tag spectacle.photo.key, height: 300, width: 400, crop: :fill %>
<%= cl_image_tag("#{spectacle.photo}",
      height: 900, width: 1600, :crop=>"limit") %>
</div>
<div id="<%= dom_id spectacle %>" class="p-4">
  <h2 class="big-title pt-4">
    <%= spectacle.title %>
  </h2>


</div>
