#performs img {
  // width:12rem;
  // width: 100%;
  // aspect-ratio: 1/1;
}
.img_container {
  width: 100%;
  overflow:auto;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    // transition: transform .5s, filter .5s ease-in-out;
    // filter: grayscale(100%);
    transition: transform .8s cubic-bezier(0,-0.01,0,.99);
  }

}

#performs .card .img_container,
#collecteds .card .img_container,
#spectacles .card .img_container{
  aspect-ratio: 16/9;

  img {

    height: 100%;

  }
}

#performs .card:hover .img_container img,
#collecteds .card:hover .img_container img,
#spectacles .card:hover .img_container img{
  // filter: grayscale(0);
  // transform: scale(1.1);
  transform: scale(1.1);

}
